
.container {
  width: 100%;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.headerCon{
  height: 25vh;
}
.diceCon{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 0;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: beige;
  
}

p {
  font-size: 2rem;
  color: beige;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.shuffleButtonCon{
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shuffleButton{
  background-color: beige;
  color: #232931;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  padding: 20px 50px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px #232931;
}
.shuffleButton:hover{
  cursor: pointer;
}
@media(max-width:450px){
 
  .container{
    gap: 50px;
  }
 
  .headerCon{
    height: 10vh;
  }
  footer{
  position: absolute;
  bottom: 10px;
 }
  
  h1 {
    width: 100%;
    font-size: 50px;

  }
}
